@import 'inputs';
@import 'buttons';

/* ------------ FORM ------------ */

.mui{
    &.button{
      font-weight: bold;
      text-transform: none !important;
      font-family: inherit !important;
  
      &.whatsapp{
        background-color: #0BD262;
        color: #fff;
      }
      &.instagram{
        background: linear-gradient(45deg, #fad373 0%,#f21974 48%,#6743ea 100%);
        color: #000;
      }
  
    }
  }