#curriculo_resumo{
    display: flex;
    color: #FFF;

    @media (max-width: 767.98px) {
        flex-wrap: wrap;
    }

    > div{
        align-self: center;
    }

    p:first-child{
        margin-top: 0;
    }

    img{
        width: 70vw;
        max-width: 300px;
        opacity: .8;

        &:hover{
            opacity: 1;
        }

        @media (max-width: 767.98px) {
            margin: 0 auto;
        }
    }

    .texto{
        margin-left: 20px;
    }

    .texto{
        @media (max-width: 767.98px) {
            margin: 0;
            margin-top: 20px;
        }
    }
}

#skill_list{
    list-style: none;
    
    > li{
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        opacity: 0;
        transition: opacity .5s; 
        
        
        &.visible{
            opacity: 1;
        }            
        
        .info{
            margin-left: 10px;
        }
        
        .title{
            color: #f5f5f5;
            font-weight: bold;
            font-size: 1.2em;
            cursor: pointer;
            line-height: 18px;

            &:hover{
                text-decoration: underline;
                text-decoration-line: 5px;
            }
        }
        
        .img{
            display: block;
            float: left;
            flex: 0 0  64px;
            width: 64px;
            height: 64px;
            background-size: contain;
            margin-right: 20px;
        }
        
        .bar{
            display: inline-block;
            width: 200px;
            height: 22px;
            font-size: .9em;
        }
        
        .fill{
            height: 10px;
            display: inline-block;
            position: relative;

            &.__good{
                background: $green_bar;
            }

            &.__normal{
                background: $orange_bar;
            }

            &.__bad{
                background: $red_bar;
            }
            
            .number {
                position: absolute;
                right: -40px;
                top: -5px;
                display: block;
            }
        }

        .resume{
            color: #6499df;
            text-shadow: 0 1px rgba(0, 0, 0, 0.3);
            font-style: italic;
            font-size: .8em;
        }

        .sublist{
            display: none;
        }

        .skillsub{
            ul{
                display: flex;
                flex-flow: column;

                li{ 
                    display: flex;
                    margin-bottom: 5px;

                    .img{
                        display: inline;
                        flex: 0 0 40px;
                        width: 40px;
                        height: 40px;

                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    > span{
                        align-self: center;
                        color: #ccc;

                        span{
                            height: 10px;
                            opacity: .6;
                            display: block;

                            &.__good{
                                background: $green_bar;
                            }
                
                            &.__normal{
                                background: $orange_bar;
                            }
                
                            &.__bad{
                                background: $red_bar;
                            }
                        }
                    }
                }
            }
        }
        
    }
}

.css3 .img{
    background-image: url(/img/css3.jpg);
}

.html5 .img{
    background-image: url(/img/html5.jpg);
}

.mysql .img{
    background-image: url(/img/mysql.jpg);
}

.postgresql .img{
    background-image: url(/img/postgresql.jpg);
}

.portugues .img{
    background-image: url(/img/portugues.jpg);
}

.ingles .img{
    background-image: url(/img/ingles.jpg);
}

.libras .img{
    background-image: url(/img/libras.jpg);
}