Django==3.1.*
djangorestframework
markdown
django-filter
django-guardian
Pygments
python-dotenv
gunicorn
autopep8
django-sass
Pillow
pypdf2==2.11.1
pytest
django-cors-headers
pyyaml
reportlab==3.6.11
uritemplate
xhtml2pdf